%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
   {sangria, ".*", {git, "git://github.com/mad-cocktail/sangria.git", "master"}},
   {chacha, ".*", {git, "git://github.com/mad-cocktail/chacha.git", "master"}},
   {mead, ".*", {git, "git://github.com/mad-cocktail/mead.git", "master"}},
   {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", "HEAD"}},
   {seqbind, ".*", {git, "git://github.com/spawngrid/seqbind.git", "HEAD"}},
   {proper, ".*", {git, "git://github.com/manopapad/proper.git", "HEAD"}}
]}.
